extends html/templates/_just_modal.pug
block head
  title Agendamento Online
  meta(name='description' content='Page Description')
block script
  script.

//- Content
block content
  .cl-modal.is-opened
    .cl-modal-dialog(role='document')
      .cl-modal-content.data-screen-parent
        //- Cadastro
        form.cl-screen.is-active(data-screen='cadastro')
          .cl-modal-header.cl-flex-row
            .col-flex
              h1.cl-title Cadastro
            .col-flex.text-right.-txt-light-grey
              p.-user-title Agendamento Online
          .cl-modal-body
            .cl-modal-block
              .cl-flex-row
                h2.-title-call.text-center Faça agora o seu agendamento em poucos passos
              .cl-flex-row
                h3.cl-title.mb-2 Dados de Cadastro
              .cl-flex-row
                .input-field
                  span.label-placeholder Nr. do Documento
                  input(name='cadastro-cpf-cnpj' type='text' placeholder='CPF ou CNPJ')
                .input-field
                  span.label-placeholder Nome
                  input(name='cadastro-nome' type='text' placeholder='Nome Completo')
              .cl-flex-row
                .input-field
                  span.label-placeholder Email
                  input(name='cadastro-email' type='text' placeholder='Email Válido')
                .input-field
                  span.label-placeholder Telefone
                  input(name='cadastro-cpf-cnpj' type='text' placeholder='(__) _____-____')
          .cl-modal-actions.cl-flex-row
            .col-flex.-mobile-block
              a.cl-btn.-cl-btn-main.-mobile-block(href='#' data-screen-target='meus-veiculos') Cadastrar
            .col-flex.-mobile-block.text-right
              a.cl-btn.-cl-btn-secondary(href='#' data-screen-target='acesso') Já possuo uma conta
        //- Acesso
        form.cl-screen(data-screen='acesso')
          .cl-modal-header.cl-flex-row
            .col-flex
              h1.cl-title Login
            .col-flex.text-right.-txt-light-grey
              p.-user-title Agendamento Online
          .cl-modal-body
            .cl-modal-block
              h3.cl-title.mb-2 Dados de Acesso
              .cl-flex-row
                .input-field
                  span.label-placeholder Usuário
                  input(name='cpf-cnpj-login' type='text' placeholder='CPF ou CNPJ')
                .input-field
                  span.label-placeholder Telefone
                  input(name='telefone-login' type='text' placeholder='(__) _____-____')
          .cl-modal-actions.cl-flex-row
            .col-flex.-mobile-block
              a.cl-btn.-cl-btn-main.-mobile-block(href='#' data-screen-target='meus-veiculos') Acessar
            .col-flex.-mobile-block.text-right
              a.cl-btn.-cl-btn-secondary(href='#' data-screen-target='cadastro') Criar Conta
        //- Agendar Veículo
        form.cl-screen(data-screen='agendar-veiculo')
          .cl-modal-header.cl-flex-row
            .col-flex
              h1.cl-title Novo Agendamento
            .col-flex.text-right.-txt-light-grey
              p.-user-title Olá John Doe
              p johndoe@connectlead.com.br | (11) 99877-1234
          .cl-modal-body
            .cl-modal-block
              h3.cl-title.mb-2 Informações do Veículo
              .cl-flex-row
                .input-field
                  span.label-placeholder Veículo
                  input(type='text' value='Mobi Way 1.4 - 2017/18 | OEN-1234 | 32.000 km' readonly)
            .cl-modal-block
              h3.cl-title.mb-2 Informações do Agendamento
              .cl-flex-row
                .input-field
                  span.label-placeholder Oficina
                  select._select2(name='agendamento-oficina')
                    option(value='' disabled selected) ...
                    option(value='Ipsum') Ipsum
                    option(value='Amet') Amet
                    option(value='Consectetur') Consectetur
                .input-field
                  span.label-placeholder Consultor
                  select._select2(name='agendamento-consultor')
                    option(value='' disabled selected) ...
                    option(value='Ipsum') Ipsum
                    option(value='Amet') Amet
                    option(value='Consectetur') Consectetur
                .input-field
                  span.label-placeholder Serviço
                  select._select2(name='agendamento-servico')
                    option(value='' disabled selected) ...
                    option(value='Ipsum') Ipsum
                    option(value='Amet') Amet
                    option(value='Consectetur') Consectetur
              .cl-flex-row
                .input-field
                  span.label-placeholder Dia do Agendamento
                  input._datepicker(name='agendamento-dia' type='text' placeholder='DD/MM/YYYY' data-date-start-date='+0d' data-date-end-date=false data-date-dates-disabled=[])
                .input-field
                  span.label-placeholder Horário do Agendamento
                  select._select2(name='agendamento-horario')
                    option(value='' disabled selected) ...
                    option(value='14_00') 14:00
                    option(value='16_00') 16:00
                    option(value='17_30') 17:30
            .cl-modal-block
              .input-field
                label.cl-flex-row.--flex-only-row
                  input.cl-checkbox(name='agendamento-acordo-de-regras' type='checkbox')
                  span Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore possimus odio repudiandae incidunt? Error laborum, labore repellat repellendus commodi impedit.
          .cl-modal-actions.cl-flex-row
            .col-flex.-mobile-block
              a.cl-btn.-cl-btn-main.-mobile-block(href='#' data-screen-target='meus-veiculos') Agendar
              a.cl-btn.-cl-btn-grey.-mobile-block(href='#' data-screen-target='meus-veiculos') Cancelar
            .col-flex.-mobile-block.text-right
              a.-txt-main-color.cl-btn.-cl-btn-secondary(href='#' data-screen-target='cadastro') Sair
        //- Lista de Veículos
        form.cl-screen(data-screen='meus-veiculos')
          .cl-modal-header.cl-flex-row
            .col-flex
              h1.cl-title Meus Veículos
            .col-flex.text-right.-txt-light-grey
              p.-user-title Olá John Doe
              p johndoe@connectlead.com.br | (11) 99877-1234
          .cl-modal-body
            .cl-modal-block
              h3.cl-title.mb-2 Listagem para Agendamento
              ._cl-datatable
                ._cl-datatable-actions.cl-flex-row
                  .cl-_datatable-search.-mobile-block(data-dt-placeholder='Veículo, Placa...')
                    .input-field.-mobile-block
                      .label-placeholder.-mobile-block Busca
                  //- .col-flex.text-right.-mobile-block
                  //-   a.cl-btn.-cl-btn-main.-mobile-block(href='#' data-screen-target='cadastrar-veiculo') Cadastrar Veículo
                table._datatable.-dt-veiculos
                  thead.-hide
                    tr
                      th Veículo
                      th Placa
                      th Quilometragem
                      th
                        span.-hide Ações
                  tbody
                    -
                      veiculos = [
                        {  nome : 'Mobi Way 1.4 (2017/18)',
                          placa : 'OEN-5437',
                          km : '13.240 km' },
                        {  nome : 'Argo 1.0 (2018/19)',
                          placa : 'EAE-5437',
                          km : '13.240 km' },
                        {  nome : 'Cronos 1.4 (2016/17)',
                          placa : 'DKI-9989',
                          km : '9.459 km' },
                        {  nome : 'Strada 1.6 (2017/18)',
                          placa : 'IHS-8787',
                          km : '11.600 km' },
                        {  nome : 'Palio (2017/18)',
                          placa : 'KJD-3489',
                          km : '13.240 km' },
                        {  nome : 'CrossFox (2017/18)',
                          placa : 'FIE-4323',
                          km : '13.240 km' },
                        {  nome : 'Siena (2016/17)',
                          placa : 'DVG-1123',
                          km : '9.459 km' },
                        {  nome : 'Celta (2014/15)',
                          placa : 'KFD-4323',
                          km : '11.600 km' },
                        {  nome : 'Voyage (2015/16)',
                          placa : 'JSD-4342',
                          km : '13.240 km' },
                        {  nome : 'HB20 (2018/19)',
                          placa : 'FDF-4324',
                          km : '13.240 km' },
                        {  nome : 'Corsa Sedan (2016/17)',
                          placa : 'OPO-5569',
                          km : '9.459 km' },
                        {  nome : 'Onix (2015/16)',
                          placa : 'WLJ-8884',
                          km : '11.600 km' },
                        {  nome : 'Sandero (2017/18)',
                          placa : 'OIO-8414',
                          km : '13.240 km' },
                        {  nome : 'Fiesta (2018/19)',
                          placa : 'OFI-5288',
                          km : '13.240 km' },
                        {  nome : 'Cobalt (2017/18)',
                          placa : 'MNX-4511',
                          km : '9.459 km' },
                        {  nome : 'Ka 1.0 (2015/16)',
                          placa : 'FHH-1289',
                          km : '11.600 km' }
                      ]
                    each veiculo in veiculos
                      tr
                        td #{veiculo.nome}
                        td #{veiculo.placa}
                        td #{veiculo.km}
                        td.text-right
                          a.cl-btn.-cl-btn-grey(href='#' data-screen-target='agendar-veiculo') Agendar
                ._cl-datatable-info.cl-flex-row
                  ._cl-datatable-entries.cl-flex-row
                  ._cl-datatable-pagenation.text-right
          .cl-modal-actions.cl-flex-row
            .col-flex.-mobile-block
              a.cl-btn.-cl-btn-main.-mobile-block(href='#' data-screen-target='cadastrar-veiculo') Cadastrar Veículo
            .col-flex.-mobile-block.text-right
              a.-txt-main-color.cl-btn.-cl-btn-secondary(href='#' data-screen-target='cadastro') Sair
        //- Cadastrar Veículo (e Agendar)
        form.cl-screen(data-screen='cadastrar-veiculo')
          .cl-modal-header.cl-flex-row
            .col-flex
              h1.cl-title Cadastrar Veículo
            .col-flex.text-right.-txt-light-grey
              p.-user-title Olá John Doe
              p johndoe@connectlead.com.br | (11) 99877-1234
          .cl-modal-body
            .cl-modal-block
              h3.cl-title.mb-2 Informações do Veículo
              .cl-flex-row
                .input-field
                  span.label-placeholder Modelo
                  input(type='text' placeholder='Ex: Modelo 1.0')
              .cl-flex-row
                .input-field
                  span.label-placeholder Ano de Fabricação
                  input(type='text' name='ano-fabricacao' placeholder='____')
                .input-field
                  span.label-placeholder Ano do Modelo
                  input(type='text' name='ano-modelo' placeholder='____')
                .input-field
                  span.label-placeholder Placa
                  input(type='text' name='placa' placeholder='___-____')
                .input-field
                  span.label-placeholder Quilometragem
                  input(type='text' name='quilometragem' placeholder='Km Atual')
              .cl-flex-row
                .input-field
                  span.label-placeholder Chassi
                  input(type='text' placeholder='_________________')
                .input-field
                  span.label-placeholder Data da Compra
                  input._datepicker(name='data-compra' type='text' placeholder='DD/MM/YYYY' data-date-start-date=false data-date-end-date='+0d' data-date-dates-disabled=[])
            .cl-modal-block
              h3.cl-title.mb-2 Informações do Agendamento
              .cl-flex-row
                .input-field
                  span.label-placeholder Oficina
                  select._select2(name='agendamento-oficina')
                    option(value='' disabled selected) ...
                    option(value='Ipsum') Ipsum
                    option(value='Amet') Amet
                    option(value='Consectetur') Consectetur
                .input-field
                  span.label-placeholder Consultor
                  select._select2(name='agendamento-consultor')
                    option(value='' disabled selected) ...
                    option(value='Ipsum') Ipsum
                    option(value='Amet') Amet
                    option(value='Consectetur') Consectetur
                .input-field
                  span.label-placeholder Serviço
                  select._select2(name='agendamento-servico')
                    option(value='' disabled selected) ...
                    option(value='Ipsum') Ipsum
                    option(value='Amet') Amet
                    option(value='Consectetur') Consectetur
              .cl-flex-row
                .input-field
                  span.label-placeholder Dia do Agendamento
                  input._datepicker(name='agendamento-dia' type='text' placeholder='DD/MM/YYYY' data-date-start-date='+0d' data-date-end-date=false data-date-dates-disabled=[])
                .input-field
                  span.label-placeholder Horário do Agendamento
                  select._select2(name='agendamento-horario')
                    option(value='' disabled selected) ...
                    option(value='14_00') 14:00
                    option(value='16_00') 16:00
                    option(value='17_30') 17:30
            .cl-modal-block
              .input-field
                label.cl-flex-row.--flex-only-row
                  input.cl-checkbox(name='agendamento-acordo-de-regras' type='checkbox')
                  span Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore possimus odio repudiandae incidunt? Error laborum, labore repellat repellendus commodi impedit.
          .cl-modal-actions.cl-flex-row
            .col-flex.-mobile-block
              a.cl-btn.-cl-btn-main.-mobile-block(href='#' data-screen-target='meus-veiculos') Agendar
              a.cl-btn.-cl-btn-grey.-mobile-block(href='#' data-screen-target='meus-veiculos') Cancelar
            .col-flex.-mobile-block.text-right
              a.-txt-main-color.cl-btn.-cl-btn-secondary(href='#' data-screen-target='cadastro') Sair
        //- Estou com Problemas
        form.cl-screen(data-screen='estou-com-problemas')
          .cl-modal-header.cl-flex-row
            .col-flex
              h1.cl-title Estou com Problemas
            .col-flex.text-right.-txt-light-grey
              p.-user-title Agendamento Online
          .cl-modal-body
            .cl-modal-block
              .cl-flex-row
                h2.-title-call.text-center Em caso de problemas ao acessar o sistema entre em contato com nosso atendimento ao cliente - 0800 123 0987 das 8h às 18h de segunda a sexta.
          .cl-modal-actions.cl-flex-row
            .col-flex.-mobile-block
              a.cl-btn.-cl-btn-grey.-mobile-block(href='#' data-screen-target='meus-veiculos') Cancelar
            .col-flex.-mobile-block.text-right
              a.-txt-main-color.cl-btn.-cl-btn-secondary(href='#' data-screen-target='cadastro') Sair
        .cl-modal-helpers.text-right
          a(href='#' data-screen-target='estou-com-problemas') Estou com Problemas
          